*{
    margin: 0;
    padding: 0;

}
h1{
    font-size: 90px;
    color: rgb(253, 253, 4);
    font-weight: 850;
    -webkit-text-stroke: 5px  wheat;
    text-align: center;

}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(180deg, rgb(44, 115, 185), #6698d0);

}

.header{
    align-items: center;
    justify-content: space-evenly;
}

#button{
    font-size: 29px;
    opacity: 1;
    border-radius: 5px;
    text-align: center;
    padding: 9px;
    background-color: #6698d0;
    margin-top: 29px;
    color:antiquewhite;
    cursor: pointer;

}


#message{
    font-size: 49px;
    color: bisque;
}

#outcome{
    opacity: 0.8;
    left: 0;
    top: 0;
    align-items: center;
    visibility: hidden;
    background-color: black;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    position: absolute;
}

h2{
    font-size: 28px;
    color: beige;
}

.square{
    background-color: beige;
    margin: 6px;
    height: 98px;
    width: 98px;
    box-shadow: 1px 1px whitesmoke;
    border-radius: 8px;
}

.footer{
    display: flex;
}

@media (max-width:590px){
    h1{
        font-size: 50px;
        -webkit-text-stroke: 1px whitesmoke;
    }
    h2{
        font-size: 22px;
    }
    #message{
        font-size: 32px;
    }
}

p{
    text-align: center;
    line-height: 98px;
    font-size: 61px;
    color: bisque;
}

a{
    color: azure;

}

.container-of-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.row{
    display: flex;
    justify-content: center;
}